/* CSS RESET */
html, body, div, span,
applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dd, dl, dt, li, ol, ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0px;
	padding: 0;
	border: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	line-height: 1;
	vertical-align: baseline;
}
a img, :link img, :visited img {
	border: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td {
border-style:solid;
border-width:1px;
}

ol, ul {
	list-style: none;
}
q:before, q:after,
blockquote:before, blockquote:after {
	content: "";
}

/* BASIC PAGE SETTINGS */
html {
overflow-x:hidden;	
padding:0px;
margin:0px;
}
body {
	overflow:hidden;
	font-family:'open sans',Helvetica,verdana,arial,sans-serif;
	padding:0px;
	margin:0px;
	min-width:960px;
}
a {
text-decoration:none;	
color:#6aaac3;
}
#site-wrapper {
min-width:920px;
max-width:1350px;
padding: 0px 20px;
margin-left:auto;
margin-right:auto;
}
#borderfill {
position:absolute;
background:#393939;
width:500%;
height:100%;
left:-3000px;
z-index:-100;
}
/******************/


/* THE HEADER */
header {
width:100%;
height:140px;
position:relative;
}
#logo img{
	float:left;
	width:100%;
	margin-top:0px;
	margin-bottom:5px;
}
#logolinks {
position:absolute;
left:0px;
bottom:2px;
width:20%;
}
#aboutlink {
color: hsl(0, 0%, 88%);
background: hsl(197, 43%, 59%);
padding: 3px 8px 2px 8px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
text-transform: uppercase;
font-size: 13px;
}

.sponsorblock {
position: absolute;
top: -100px;
right: 0px;
}

/* The "About" menu */

#block-menu-menu-project-menu {
position:absolute;
bottom:0px;
left:0px;
width:11%;
}

#block-menu-menu-project-menu ul {
width:100%;
}


#block-menu-menu-project-menu .menu .expanded a {
color:#6aaac3;
padding: 3px 9px;
margin:0px 1px;
}

#block-menu-menu-project-menu .menu .expanded {
padding:0px;
position:relative;
}

#block-menu-menu-project-menu .menu .expanded .menu {
display: none;
position: absolute;
z-index: 900;
background:#000;
list-style-image: none;
list-style-type: none;
top: 32px;
padding: 5px;
width: 150px;
}
#block-menu-menu-project-menu .menu .expanded .menu a {
background:none;
padding: 3px 8px 2px 8px;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
color: #F1F1F1;
}

.droplinksymbol {
font-size: 26px;
}

#block-menu-menu-project-menu .menu .expanded .menu a:hover {
background:#678a98;
border-top-left-radius: 0px;
border-top-right-radius: 0px;
}
#block-menu-menu-project-menu .menu .expanded .menu .leaf {
list-style-type:none;
list-style-image:none;
float:left;
}
/******************/

/* THE MAIN MENU */
nav {
width:75%;
position:absolute;
bottom:0px;
right:0px;
}

nav ul {
display: table;
width: 89%;
list-style-type:none;
margin:0px;
padding:0px;
}

nav ul.links {
position: absolute;
left: 11%;
bottom: 0px;
}

nav ul li {
font-size:20px;
vertical-align:bottom;
text-transform:none;
display: table-cell;
text-align: center;
margin-top:15px;
}

nav ul li a {
font-weight:normal;
color:#737373;
display:block;
margin:0px 1px;
padding: 5px 9px;
transition-property:background;
text-transform:uppercase;
transition-duration:.25s;
-webkit-transition-property:background;
-webkit-transition-duration:.25s;
border-top-left-radius:10px;
border-top-right-radius:10px;
}
nav ul li a:hover {
color:#6aaac3;
background:#393939;
border-top-left-radius:10px;
border-top-right-radius:10px;
}
nav ul li a.active {
color:#6aaac3;
background:#393939;
}
/* The (hidden) mobile button */
#mobilemenubtn {
display:none;
}
#aboutbtn {
display:none;
}
/******************/

/* THE FRONT PAGE FEATURED AREA */
#frontpagefeatured {
float:left;
width:100%;
background:#393939;
position:relative;
}
/* The front page slider */
#block-views-front-page-slider-block {
margin-top:15px;
float:left;
width: 100%;
}
.frontslidetitle {
font-size: 25px;
margin-bottom:5px;
}
.view-front-page-slider .views-field-body {
position: absolute;
top: 15%;
left: 5%;
background: rgba(106, 170, 195, 0.9);
color: white;
padding: 25px;
width: 35%;
/*box-shadow: 0px 0px 30px 0px hsla(0, 0%, 0%, 0.5);*/
font-weight:normal;
}
.view-front-page-slider .views-field-body a {
color:#FFF;
font-size:24px;
}
.view-front-page-slider .views-field.views-field-body p {
font-size:14px;
line-height:22px;
}
.view-front-page-slider .flex-control-paging {
position:absolute;
right:5%;
bottom:5%;
padding:5px;
}
.flex-nav-container {
margin:0px;
}

.flex-control-paging li a {
width: 10px;
height: 10px;
background:#000 ;
color: #FFF;
padding: 5px;
text-indent: 0px;
font-size: 12px;
}

/* The "One Photo, Every Hour, Every Day" slide */

.view-front-page-slider .views-row-3 .views-field-body {
right:5%;
left:auto;
}

/* The Platte Basin slide */

.view-front-page-slider .views-row-2 .views-field-body {
width:33%;
}


/* The recent stories block */
#block-views-recent-stories-block, .featuredstoriesblock {
width:100%;
float:left;
padding: 10px 0px;
background:#FFFFFF;
}
#block-views-recent-stories-block .views-row, .featuredstoriesblock .views-row {
width: 21%;
margin-top: 15px;
margin-left: 2.66%;
float: left;
position: relative;
padding: 1%;
background: #E7E7E7;
}

#block-views-recent-stories-block .views-row-first, .featuredstoriesblock .views-row-first {
margin-left:0px;
}
#block-views-recent-stories-block .views-field-field-header-image img, .featuredstoriesblock .views-field-field-header-image img{
width:100%;
height:auto;
}
#block-views-recent-stories-block  .views-field.views-field-body a, .featuredstoriesblock .views-field.views-field-body a  {
color: #303030;
font-size: 14px;
line-height: 14px;
}
#block-views-recent-stories-block  .views-field.views-field-body a.views-more-link, .featuredstoriesblock .views-field.views-field-body a.views-more-link {
background-color: hsl(197, 43%, 59%);
display: block;
color: #FFF;
text-align: center;
font-size: 22px;
font-weight: normal;
padding: 10px;
}
#block-views-recent-stories-block  .views-field.views-field-body p, .featuredstoriesblock .views-field.views-field-body p {
padding: 0%;
margin-top:5px;
line-height: 20px;
}
#block-views-recent-stories-block  .views-field.views-field-body, .featuredstoriesblock .views-field.views-field-body {
display:block;
position: relative;
top: 0px;
width: 100%;
height: 100%;
z-index: 200;
}
#block-views-recent-stories-block .views-field-title a, .featuredstoriesblock .views-field-title a {
text-transform: none;
color: hsl(197, 43%, 59%);
font-size: 22px;
/*font-family:'Century Gothic',Helvetica,verdana,arial,sans-serif;*/
text-transform:none;
font-weight:normal;
letter-spacing:1px;
}
#block-views-recent-stories-block .views-field-title, .featuredstoriesblock .views-field-title { 
position: relative;
margin: 10px 0px;
}
#block-views-recent-stories-block h2,  .featuredstoriesblock h2{
width: 100%;
height: auto;
float: left;
color: white;
font-weight: normal;
text-transform: uppercase;
font-size: 22px;
background-color: transparent;
padding: 0;
left: -100px;
background: none;
}
/******************/

/*****************************/
/* THE STORY  PAGE HEADER */
/*****************************/
#contentheader {
float:left;
background-color:#393939;
width:100%;
padding-bottom:15px;
position:relative;
}

.flex-direction-nav a {
background-color:transparent;
}

.flex-direction-nav a:hover {
background-color:transparent;
}
.view-clone-of-front-page-slider .views-field-body {
position: absolute;
width: 30%;
padding: 1%;
top: 20%;
color: #FFF;
left: 8%;
background: rgba(0, 0, 0, 0.64);
}
/******************/

/* THE ABOUT REGION BLOCK */
.about-region-block {
float:right;
width:22%;
margin-top:2%;
}
.about-region-block .views-field-title a {
color:#6aaac3;
text-transform:none;
font-weight:normal;
margin-top:0px;
margin-bottom:10px;
font-size:24px;
}
.about-region-block .views-field-body p {
margin-top: 5px;
color: white;
font-size: 13.5px;
line-height: 20px;
}
.about-region-block .views-field-field-header-image img {
width:100%;
height:auto;
}
.about-region-block .views-more-link {
margin-top:10px;
font-size:18px;
color:#6aaac3;
width:80px;
font-weight:normal;
}
.about-region-block .views-more-link:hover {
background:#376273;
}
/******************/

/*****************************/
/* THE STORY PAGE BODY */
/*****************************/
#regionmain {
float:left;
width:78%;
padding-top:2%;
padding-left:0%;	
padding-right:4%;
}

/* THE STORY PAGE  GRID */
.view-stories-page div.views-row {
width: 48%;
position: relative;
float: left;
margin-bottom:4%;
}

.view-stories-page .views-row-odd {
margin-right:2%;
}

.view-stories-page .views-row-even {
margin-left:2%;
}

.view-stories-page div.views-row img {
max-width:100%;
height: auto;
}

.view-stories-page .views-field-field-theme {
position:absolute;
width:100%;
top:5%;
}

.view-stories-page .views-field-field-theme .field-content {
text-align:center;
color:white;
text-transform:uppercase;
text-decoration:underline;
text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.52);
}

.view-stories-page div.views-field.views-field-title {
position: absolute;
top: 17%;
width: 80%;
left: 10%;
text-align: center;
}

.view-stories-page div.views-field.views-field-title a {
text-transform: uppercase;
color: #FFF;
font-size: 24px;
text-shadow: 1px 1px 7px rgba(0, 0, 0, 0.52);
}

.region-stories .gridCol {
height:250px;
float:left;
width:30%;
margin-left:5%;	
}
.region-stories .col-1 {
margin-left:0%;
}
.region-stories .grid-item .views-field-title {
margin-bottom:5px;
}
.region-stories .grid-item .views-field-title a {
color:#6aaac3;
font-weight: normal;
font-size: 20px;
}
.region-stories .grid-item .views-field-field-header-image {
margin-bottom:10px;
}
.region-stories .grid-item .views-field-field-header-image img {
width:100%;
height:auto;
}
.region-stories .grid-item .views-field-body p {
	color:#5d5d5d;
	font-size: 14px;
    line-height: 20px;
}
/*REGION STORY PAGER */
.item-list .pager {
background: #f2f2f2;
padding: 5px;
}
/******************/

/* THE REGION PAGE SIDEBAR */

#regionmain .view-filters {
display:none;
}
#regionsidebar {
position:relative;
float:right;
width:18%;
padding-right:0%;
padding-top:2%;	
}
#regionsidebar .views-exposed-form label {
font-weight:normal;
}
#regionsidebar .views-exposed-form label:first-child {
color: hsl(0, 100%, 100%);
padding: 5px;
margin-bottom: 10px;
font-size:24px;
background:#6AAAC3;
}
#regionsidebar .views-exposed-form .container-inline-date label:first-child {
font-size:16px;
background:none;
color:#393939;
margin-bottom:0px;
}
#regionsidebar .views-exposed-form .container-inline-date .description {
display:none;
}
#regionsidebar .form-item.form-type-radio.form-item-field-story-type-tid {
background:#6aaac3;
padding: 5px 0%;
color: white;
margin-top: 5px;
font-weight: normal;
width: 100%;
float: left;
}
#regionsidebar .views-exposed-form .views-exposed-widget {
width:100%;
}
#regionsidebar .views-exposed-form label.option {
color: hsl(0, 0%, 22%);
font-size: 14px;
}
#regionsidebar input.form-text {
padding: 3% 5% 3% 15%;
background-image:url('./images/searchglass.png');
background-repeat:no-repeat;
background-position:left;
background-color: gainsboro;
border-style: none;
border-radius: 10px;
width: 80%;
box-shadow: inset 2px 2px 9px 1px hsla(0, 0%, 0%, 0.1);
}
#regionsidebar input#edit-date-filter-max-date, #regionsidebar input#edit-date-filter-min-date {
padding: 3% 5%;
background-image:none;
background:gainsboro;
border-style: none;
border-radius: 0px;
width: 90%;
box-shadow: none;
}
.form-item-field-story-type-tid input.form-radio {
float:left;
}
#searchnub {
display:none;
}
/******************/

/*****************************/
/* THE STORY PAGE */
/*****************************/

/* THE STORY PAGE HEADER */
#storyheader {
position:relative;
margin-left:auto;
margin-right:auto;
max-width:1350px;
min-width:960px;
}
#storyheader img {
width:100%;
height:auto;
}
#storyheader h1 {
position:absolute;
bottom:0px;
width:96%;
padding:2%;
color:#e0e0e0;
text-transform:uppercase;
font-size:40px;
background:rgba(0,0,0,.5);
font-weight:normal;
}
.field-name-field-coordinates {
position:absolute;
top:25%;
box-shadow: 0px 0px 30px 0px hsla(0, 0%, 0%, 0.5);
left:-2%;
}
.field-name-field-coordinates .field-label {
display:none;
background:#6aaac3;
color:#E9E9E9;
padding:4px;
}
/******************/

/* THE STORY  PAGE BODY */
#storycontent {
max-width:960px;
margin-top:60px;
margin-left:auto;
margin-right:auto;
}
#main-wrapper p {
margin-top:28px;
line-height:27px;
font-size:15px;
color:#393939;
position:relative;
}

#storycontent p iframe {
z-index:150;
position:relative;
}

#storycontent .imagecontainer {
line-height:0px;
}

#storycontent h2 {
color: #313131;
font-size: 24px;
}
#storycontent img {
max-width: 100% !important;
height: auto !important;
}
#storycontent p.imgcaption {
margin-top:0px;
padding:10px;
background:#e0e0e0;
color:#393939;
}
#storycontent p.imagecopyright {
margin-top: 0px;
position: absolute;
bottom: 15px;
right: 10px;
line-height: 10px;
width: 100px;
color: hsl(0, 100%, 100%);
font-size: 11px;
}

/*Image tables */
#storycontent td {
border: 0;
padding: 10px;
vertical-align:top;
}

#storycontent td p.imagecontainer {
margin-top:10px;
text-align:center;
}

#storycontent td p.imgcaption {
margin-left:auto;
margin-right:auto;
}

/* The Vimeo wrapper */
.videowrapper {
    height: 0;
    padding-bottom: 64%;
    padding-top: 25px;
    position: relative;
}
#storycontent .videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/******************/

/* AUTHOR BIOS */
.field-name-field-author-bio {
background:#393939;
padding:15px;
margin-top:25px;
}

.field-name-field-author-bio .field-name-field-profile-image {
float:left;
padding-right:15px;
}

#storycontent .field-name-field-author-bio p {
margin-top:14px;
line-height: 25px;
font-size: 15px;
color: #eeeeee;
}
#storycontent .field-name-field-author-bio h2 {
color:#6aaac3;
}
/******************/

/* THE RELATED STORIES SECTION */
#block-views-related-stories-block h2 {
color: #393939;
font-size: 24px;
text-transform: uppercase;
margin-top: 25px;
margin-bottom: 10px;
border-top-width: 2px;
}

.view-related-stories .gridCol {
float:left;
width:24%;
margin:.5%;
position:relative;
}

.view-related-stories  .gridCol .views-field-title {
position: absolute;
top: 10%;
width: auto;
left: 3%;
padding: 2.5%;
background: #6aaac3;
}
.view-related-stories  .gridCol .views-field-title a {
color: #FFF;
font-size: 16px;
letter-spacing: 1px;
}
/******************/

/* MAP ATTRIBUTION */
.olControlAttribution {
/*display:none;*/
}

/* MAP POP-UP TITLES */
.openlayers-tooltip-name a {
color:#6aaac3;
font-size:20px;
font-weight:normal;
}

/* CAMERA PROFILE */
.node-camera-profile h2 a {
color:#e0e0e0;
font-size:24px;
font-weight:normal;
}

.node-camera-profile h2 {
position: absolute;
top: 245px;
width: 97%;
background: hsla(0, 0%, 0%, 0.7);
text-transform: uppercase;
height: 40px;
padding-top: 15px;
padding-left: 3%;
color: hsl(0, 0%, 88%);
}
.node-camera-profile .field-name-field-featured-stories {
background-color:#000;
}

.node-camera-profile .field-name-field-featured-stories .field-label {
font-weight: normal;
background: #FFFFFF;
color: #5F5F5F;
padding: 5px;
font-size: 17px;
text-transform: uppercase;
}

.node-camera-profile .field-name-field-featured-stories h2 {
position: absolute;
width: 97%;
top: 40%;
background: #6aaac3;
text-transform: none;
height: auto;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 3%;
color: hsl(0, 0%, 88%);
}

.node-camera-profile .field-name-field-featured-stories {
width:200px;
margin-right:15px;
float:left;
position: relative;
}

.node-camera-profile .field-name-field-featured-stories .node-readmore {
display:none;
}
.node-camera-profile .field-name-field-featured-stories h2 a {
color:#e0e0e0;
font-size:16px;
font-weight:normal;
}
.node-camera-profile .openlayers-container-map-geofield-formatter-map {
margin-top: 0px;
position: absolute;
top: 0px;
left: 0px;
border-right-width: 5px;
border-right-style: solid;
border-bottom-width: 5px;
border-bottom-style: solid;
}

.node-camera-profile .field-name-field-camera-image {
float:left;
margin-right:15px;
margin-bottom:20px;
}

.node-camera-profile .field-name-body p {
line-height:21px;
font-size:15px;	
color:#393939;
}

/* THE NEWS PAGE */

#edit-tid-wrapper .form-item, .view-id-news_archive .views-summary li  {
margin:10px 0px;
}

#edit-tid-wrapper .form-item  a, .view-id-news_archive .views-summary li a {
padding:5px;
font-size:13px;
}

#edit-tid-wrapper .form-item  a:hover, .view-id-news_archive .views-summary li a:hover {
background:#6AAAC3;
color:#fff;
}

.selected a, .view-id-news_archive .views-summary li a.active {
background:#6AAAC3;
color:#fff;
}

.newsview .views-row, .view-news-page .views-row {
margin-bottom:25px;
padding-bottom:8px;
background: #f7f7f7;
}

.newsview .views-field-title, .view-news-page .views-field-title{
background: #FFF;
padding: 15px;
color:#FFF;
font-size: 20px;
}

.newsview .views-field-title a, .view-news-page  .views-field-title a {
color:#393939;
}

.newsview .views-field-body, .view-news-page .views-field-body {
padding: 15px;
}

.newsview .views-field-body p, .view-news-page .views-field-body p {
color: #393939;
line-height: 27px;
font-size: 15px;
margin-bottom:15px;
}

.newsview blockquote, .view-news-page blockquote {
padding: 10px 80px;
}

.newsview .views-field-body blockquote p, .view-news-page .views-field-body blockquote p {
color:#787878;
}

.newsview h2, .view-news-page h2 {
font-size:40px;
margin-bottom:20px;
font-weight:bold;
}

.views-field-field-source-link-1 {
clear: both;
text-align: right;
}

.views-field-field-source-link a, .views-field-field-source-link-1 a {
padding: 5px;
background: #69aac4;
color: #FFF;
}

#regionsidebar h2 {
color: hsl(0, 100%, 100%);
padding: 5px;
margin-bottom: 10px;
font-size: 24px;
background: #6AAAC3;
}
#regionsidebar h2 a {
color:#FFF;
}

.newsview .newsdate, .view-news-page  .newsdate {
display: inline;
float: right;
font-size: 16px;
color: #707070;
}

/******************/


/* THE FOOTER */
#footer {
	position:relative;
	float:left;
	width:100%;
	background:#393939;
	height:300px;
	margin-top:20px;
}

#footer .menu .leaf a {
	color: #FFFFFF;
text-transform: uppercase;
font-size: 18px;
}
#footer .menu {
width:100%;
display:table;
margin-top:25px;
}
#footer .menu .leaf {
display:table-cell;
text-align: center;
list-style-image:none;
list-style-type:none;
}

#footer p {
color:#e0e0e0;
}

/* CONTENT EDITING */
.cke_show_borders td {
border-style:solid;
border-width:3px;
border-color:#575757;
}

/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/*SMALLER DESKTOP1  */
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
@media only screen 
and (max-width : 1000px) 
and (min-width:768px)
{
#block-views-recent-stories-block  .views-field.views-field-body a, .featuredstoriesblock .views-field.views-field-body a  {
color: #e9e9e9;
font-size: 13px;
line-height: 18px;
}

.view-front-page-slider .views-field-body {
position: absolute;
top: 10%;
left: 5%;
width: 40%;
}


}
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/*TABLET-ONLY VERSION  */
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/

@media only screen 
and (max-width : 768px) 
and (min-width:480px)
{
#block-views-recent-stories-block .views-field.views-field-body a, .featuredstoriesblock .views-field.views-field-body a {
font-size: 13px;
line-height: 18px;
}
#block-views-recent-stories-block .views-field.views-field-body a.views-more-link, .featuredstoriesblock .views-field.views-field-body a.views-more-link {
font-size: 16px;
}
#block-views-recent-stories-block .views-field-title a, .featuredstoriesblock .views-field-title a {
font-size: 20px;
}
.view-front-page-slider .views-field-body {
top:10%;
width:35%;
}

#block-views-recent-stories-block .views-field.views-field-body p {
padding: 0px 5px;
margin-top: 10px;
}

#logo img{
	width:60%;
}

}

/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/*MOBILE-ONLY VERSION  */
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
@media only screen 
and (max-width : 480px) 
and (min-width:320px)
{
#block-views-recent-stories-block .views-field-title a, .featuredstoriesblock .views-field-title a {
font-size: 18px;
}
#block-views-recent-stories-block .views-field.views-field-body p {
padding: 0px 5px;
margin-top: 10px;
}

#logo img{
width:90%;
}

}



/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/*MOBILE / TABLET VERSION  */
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/
/****************************/

@media only screen 
and (max-width : 768px) 
and (min-width:320px)
{
	
body {
min-width:320px;
}

#site-wrapper {
min-width:320px;
max-width:750px;
padding: 0px 0px;
margin-left:auto;
margin-right:auto;
}

#site-wrapper #page {
float:left;	
width:100%;
}

header {
width:100%;
height:auto;
position:relative;
}

#borderfill {
position:absolute;
background:#393939;
width:600%;
height:100%;
left:-1000px;
z-index:-100;
}


#logo img{
	float:none;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	display:block;
}

#logolinks {
width:100%;
position:relative;
float:left;
}

.sponsorblock {
display:none;
}

/* The "About" menu */
#aboutbtn {
display: block;
float: left;
margin-left: 5px;
text-transform: uppercase;
color: hsl(0, 0%, 22%);
background: #FFF;
padding: 5px;
margin-top: 3px;
border-radius: 5px;
font-size: 14px;
}


#block-menu-menu-project-menu {
display:none;
position: absolute;
bottom: 0px;
left: 10px;
top: 30px;
width: 150px;
height: 120px;
background: #fcfcfc;
z-index: 500;
}

#block-menu-menu-project-menu .menu {
padding: 0px;
margin:0px;
position: relative;
float: none;
width: auto;
top:0px;
left:0px;
}

#block-menu-menu-project-menu .menu .expanded {
padding: 0px;
margin:0px;
position: relative;
float: none;
width: auto;
background:transparent;
left:0px;
}

#block-menu-menu-project-menu .menu .expanded a, #block-menu-menu-project-menu .menu .expanded .menu a {
color:#2d2d2d;
background:transparent;
}

#block-menu-menu-project-menu .menu .expanded a:hover, #block-menu-menu-project-menu .menu .expanded .menu a:hover {
background:#cfcfcf;
}

#block-menu-menu-project-menu .menu .expanded .menu .leaf {
margin: 0px;
}

#block-menu-menu-project-menu .menu .expanded .menu {
background: transparent;
height: auto;
top: 0px;
position: relative;
left: 0px;
padding: 0px;
margin: 0px;
}

.droplinksymbol {
display:none;
}


/* THE FRONT PAGE FEATURED AREA */
nav {
width:100%;
float:left;
height:30px;
background:#e0e0e0;
position:relative;
}

#mobilemenubtn {
display:block;
float:left;
margin-left: 5px;
text-transform: uppercase;
color: hsl(0, 100%, 100%);
background: hsl(0, 0%, 22%);
padding: 5px;
margin-top: 3px;
border-radius: 5px;
}

nav ul {
left:16%;
display: none;
width: 44%;
list-style-type:none;
margin:0px;
padding:0px;
position: absolute;
z-index: 100;
top: 30px;

}

nav ul.links {
left:60px;
}

.active, #logolinks .menu.active, #block-menu-menu-project-menu .menu .expanded .menu.active, #block-menu-menu-project-menu.active {
display:block;
}

nav ul li {
/*font-family:'Century Gothic',Helvetica,verdana,arial,sans-serif;*/
float:left;
width:100%;
font-size:20px;
text-transform:none;
text-align: left;
margin-top:0px;
}

nav ul li.first a {
background-image:none;
border-top-left-radius:0px;
}

nav ul li.last a {
border-top-right-radius:0px;	
}

nav ul li a {
background-image:none;
background-color:#393939;
background-repeat:repeat-y;
font-weight:normal;
color:#e0e0e0;
display:block;
margin-top:0px;
padding: 5px 10px;
transition-property:background;
text-transform:uppercase;
transition-duration:.25s;
-webkit-transition-property:background;
-webkit-transition-duration:.25s;
border-radius: 0px;
}

nav ul li a:hover {
color:#6aaac3;
background:#393939;
border-radius: 0px;
}

nav ul li a.active {
color:#6aaac3;
background:#393939;
}

/* THE FRONT PAGE MAP */
#block-views-front-page-map-display-block {
display:none;
position:relative;
margin-top:20px;
}

#block-views-front-page-map-display-block h2{
position:absolute;
top:10px;
font-size:40px;
z-index:100;
font-weight:normal;
left:20px;
background:#6aaac3;
padding:5px;
color:#E9E9E9;
}



/* THE FRONT PAGE FEATURED AREA */

#frontpagefeatured {
float:left;
width:100%;
background:#FFF;
position:relative;
}

#block-views-front-page-slider-block {
margin-top:15px;
float:left;
}
.view-front-page-slider .views-field-body {
position: relative;
float: left;
background: #6aaac3;
color: hsl(0, 100%, 100%);
padding: 3%;
width: 96%;
box-shadow:none;
font-weight: normal;
margin-left: 0px;
display: block;
left: 0px;
top: 0px;
}

.view-front-page-slider .views-field-body a {
color:#FFF;
font-size:18px;
}

.view-front-page-slider .views-field.views-field-body p {
display:block;
}

.view-front-page-slider .flex-control-paging {
position:relative;
float:left;
right:0%;
bottom:0%;
top: 5px;
padding:5px;
}

.view-front-page-slider .flex-direction-nav a {
background:transparent;
height: 50%;
}

.view-front-page-slider .flex-viewport {
background:#6aaac3;
}

.view-front-page-slider .views-row-3 .views-field-body {
right:inherit;
left:inherit;
}

.view-front-page-slider .views-row-2 .views-field-body {
width:96%;
}


#block-views-recent-stories-block {
width:100%;
float:left;
padding: 10px 0px;
background:#FFF;
}

.flex-nav-container {
margin:0px;
}

#block-views-recent-stories-block .views-row {
width:48%;
margin-top:15px;
margin-left:1%;
margin-right:1%;
height:260px;
float:left;
position:relative;
}

#block-views-recent-stories-block .views-row-first {
margin-left:1%;
}

#block-views-recent-stories-block .views-field-field-header-image img{
display:block;
float:left;
width:100%;
height:auto;
}

#block-views-recent-stories-block  .views-field.views-field-body a  {
color: #393939;
font-size: 15px;
line-height: 20px;
}

#block-views-recent-stories-block  .views-field.views-field-body a.views-more-link {
font-size:18px;
color: hsl(197, 43%, 59%);
display: block;
}

#block-views-recent-stories-block  .views-field.views-field-body p {
height:100px;
float:left;
}

#block-views-recent-stories-block  .views-field.views-field-body {
float:left;
display:block;
width: 100%;
height: auto;
background: transparent;
position:relative;
}

#block-views-recent-stories-block .views-field-title a {
text-transform: none;
color: white;
/*font-family:'Century Gothic',Helvetica,verdana,arial,sans-serif;*/
text-transform:none;
font-weight:normal;
letter-spacing:1px;
}

#block-views-recent-stories-block .views-field-title { 
position: relative;
float: left;
top: 0px;
left: 0px;
height:auto;
width: 96%;
padding: 2% 2%;
background: hsl(197, 43%, 59%);
}

#block-views-recent-stories-block h2 {
width: 10%;
margin-top: 10px;
height: 100%;
float: left;
color: white;
font-weight: normal;
text-transform: uppercase;
font-size: 22px;
background-color: black;
padding: 2.5% 1%;
}

/* MOBILE REGION MAP */
.mobileregionimage img {
height:auto;
display:block;
width:100%;
margin-top:10px;
}

/* THE REGION PAGE HEADER */



#contentheader {
float:left;
background-color:#393939;
width:95%;
padding-left:2.5%;
padding-right:2.5%;
padding-bottom:15px;
position:relative;
}

.regionmapview {
display:none;
}

.regionmapblock {
display:none;
} 

.regionmapblock h2 {
display:none;
}

.about-region-block {
float:left;
width:100%;
margin-top:2%;
}

.about-region-block .views-field-title a {
color:#6aaac3;
text-transform:none;
font-weight:normal;
margin-top:0px;
margin-bottom:10px;
font-size:30px;
}

.about-region-block .views-field-body p {
margin-top: 5px;
color: white;
font-size: 13.5px;
line-height: 20px;
}

.about-region-block .views-field-field-header-image img {
width:100%;
display:none;
height:auto;
}

.about-region-block .views-more-link {
margin-top:10px;
font-size:18px;
color:#6aaac3;
width:80px;
font-weight:normal;
}

.about-region-block .views-more-link:hover {
background:#376273;
}

/* THE REGION PAGE BODY */
#regionmain {
float:left;
width:95%;
padding-top:2%;
padding-left:2.5%;
padding-left:2.5%;	
}

.region-stories .gridCol {
height:auto;
float:left;
width:100%;
margin-left:0%;	
margin-bottom:10px;
}

.region-stories .col-1 {
margin-left:0%;
}

.region-stories .grid-item .views-field-title {
margin-bottom:5px;
}

.region-stories .grid-item .views-field-title a {
color:#6aaac3;
/*font-family: "century gothic",Helvetica,verdana,arial,sans-serif;*/
font-weight: normal;
font-size: 24px;

}

.region-stories .grid-item .views-field-field-header-image {
margin-bottom:10px;
}

.region-stories .grid-item .views-field-field-header-image img {
width:100%;
height:auto;
}

.region-stories .grid-item .views-field-body p {
	color:#5d5d5d;
	font-size:16px;
	line-height:23px;
}
/* THE REGION PAGE SIDEBAR */
#regionmain .view-filters {
display:none;
}
#regionsidebar {
z-index:200;
display: block;
position: fixed;
float: left;
right: -300px;
top: 30%;
width: 280px;
padding: 10px;
background: hsl(0, 0%, 54%);
}
#regionsidebar.slidout {
right:0px;
}
#regionsidebar .views-exposed-form label:first-child {
display:none;	
}

#searchnub {
display:block;
height:50px;
width:50px;	
background-color: hsl(0, 0%, 54%);
position:absolute;
left:-50px;
 top: 50px;
background-image:url('./images/nubglass.png');
}
#regionsidebar .views-exposed-form .container-inline-date label:first-child {
font-size:16px;
background:none;
color:#393939;
margin-bottom:0px;
}
#regionsidebar .views-exposed-form .container-inline-date .description {
display:none;
}
#regionsidebar .form-item.form-type-radio.form-item-field-story-type-tid {
background:#6aaac3;
padding: 5px 0%;
color: white;
margin-top: 5px;
font-weight: normal;
width: 100%;
float: left;
}
#regionsidebar .views-exposed-form .views-exposed-widget {
width:100%;
}
#regionsidebar .views-exposed-form label.option {
color: #e0e0e0;
font-size: 18px;
}
#regionsidebar input.form-text {
padding: 3% 5% 3% 15%;
background-image:url('./images/searchglass.png');
background-repeat:no-repeat;
background-position:left;
background-color: gainsboro;
border-style: none;
border-radius: 10px;
width: 80%;
box-shadow: inset 2px 2px 9px 1px hsla(0, 0%, 0%, 0.1);
}
.form-item-field-story-type-tid input.form-radio {
float:left;
}
#edit-date-filter-wrapper {
	display:none;
}
#edit-field-camera-location-tid-wrapper {
display:none;
}

/******************/

/*****************************/
/* THE STORY PAGE */
/*****************************/

/* THE STORY PAGE HEADER */
#storyheader {
float:left;
max-width:768px;
min-width:320px;
}
#storyheader img {
width:100%;
height:auto;
}
#storyheader h1 {
position:relative;
float:left;
bottom:0px;
width:96%;
padding:2%;
color:#e0e0e0;
text-transform:uppercase;
font-size:25px;
background:rgba(0,0,0,.5);
font-weight:normal;
}
.field-name-field-coordinates {
display:none;

}
.field-name-field-coordinates .field-label {
display:none;
}
/******************/

/* THE STORY  PAGE BODY */
#storycontent {
width:95%;
margin-top:10px;
margin-left:2.5%;
margin-right:2.5%;
float:left;
max-width: 768px;
min-width: 320px;
}
#storycontent p {
margin-top:28px;
line-height:28px;
font-size:17px;
color:#393939;
position:relative;
}

#storycontent p iframe {
z-index:150;
}

#storycontent h2 {
color: #313131;
font-size: 24px;
}
#storycontent p.imgcaption {
margin-top:0px;
padding:10px;
background:#e0e0e0;
color:#393939;
}
#storycontent p.imagecopyright {
margin-top: 0px;
position: absolute;
bottom: 15px;
right: 10px;
line-height: 10px;
width: 100px;
color: hsl(0, 100%, 100%);
font-size: 11px;
}
/* The Vimeo wrapper */
.videowrapper {
    height: 0;
    padding-bottom: 64%;
    padding-top: 25px;
    position: relative;
}
.videowrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/******************/

/* THE RELATED STORIES SECTION */
.view-related-stories .gridCol {
float:left;
width:49%;
}
/******************/


/* THE FOOTER */
#footer {
	position:relative;
	float:left;
	width:100%;
	background:#393939;
	height:340px;
	margin-top:20px;
}

#footer .menu .leaf a {
	color: #FFFFFF;
text-transform: uppercase;
font-size: 18px;
}
#footer .menu {
width:100%;
margin-top:25px;
}
#footer .menu .leaf {
width:100%;
float:left;
text-align: center;
list-style-image:none;
list-style-type:none;
margin-bottom:5px;
}

#footer p {
color:#e0e0e0;
}

/* THE NEWS PAGE */

#contentheader {
display:none;
}

#edit-tid-wrapper .form-item, .view-id-news_archive .views-summary li  {
margin:10px 0px;
float:left;
}

#edit-tid-wrapper .form-item  a, .view-id-news_archive .views-summary li a {
padding:5px;
font-size:12px;
color:#fff;
}

#edit-tid-wrapper .form-item  a:hover, .view-id-news_archive .views-summary li a:hover {
background:#6AAAC3;
color:#fff;
}

.selected a, .view-id-news_archive .views-summary li a.active {
background:#6AAAC3;
color:#fff;
}

#block-views-news-archive-block {
display:none;
}

.newsview .views-row, .view-news-page .views-row {
margin-bottom:25px;
padding-bottom:8px;
background: #f7f7f7;
}

.newsview .views-field-title, .view-news-page .views-field-title{
background: #FFF;
padding: 15px;
color:#FFF;
font-size: 20px;
}

.newsview .views-field-title a, .view-news-page  .views-field-title a {
color:#393939;
}

.newsview .views-field-body, .view-news-page .views-field-body {
padding: 15px;
}

.newsview .views-field-body p, .view-news-page .views-field-body p {
color: #393939;
line-height: 27px;
font-size: 15px;
margin-bottom:15px;
}

.newsview blockquote, .view-news-page blockquote {
padding: 10px 80px;
}

.newsview .views-field-body blockquote p, .view-news-page .views-field-body blockquote p {
color:#787878;
}

.newsview h2, .view-news-page h2 {
font-size:40px;
margin-bottom:20px;
font-weight:bold;
}

.views-field-field-source-link-1 {
clear: both;
text-align: right;
}

.views-field-field-source-link a, .views-field-field-source-link-1 a {
padding: 5px;
background: #69aac4;
color: #FFF;
}

#regionsidebar h2 {
color: hsl(0, 100%, 100%);
padding: 5px;
margin-bottom: 10px;
font-size: 24px;
background: #6AAAC3;
}
#regionsidebar h2 a {
color:#FFF;
}

.newsview .newsdate, .view-news-page  .newsdate {
display: block;
float: none;
font-size: 16px;
color: #707070;
margin-top: 10px;
}

.item-list .pager li {
margin: 0px;
padding: 5px;
}

/******************/




}



